# === Données ===
*.csv
*.npy
*.npz
*.pkl
*.h5
*.hdf5

# === Modèles entraînés ===
model/
models/
*.joblib
*.sav

# === Dossiers de cache ===
__pycache__/
.ipynb_checkpoints/
*.log

# === Dossiers locaux ===
data/
dataset/
.DS_Store
.env
